<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_employee_transport_root"
              name="Employee Transport"
              sequence="6"/>

    <menuitem id="menu_hr_transport_vehicle"
          name="Vehicles"
          parent="menu_employee_transport_root"
          action="action_hr_transport_vehicle"
          sequence="1"/>

</odoo>